@{
    ViewData["Title"] = "Contact";
}
@*<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>*@


<div class="fh5co-parallax" style="background-image: url(../../wwwroot/stuff/images/hero-1.jpg));" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-12 col-sm-offset-0 col-xs-12 col-xs-offset-0 text-center fh5co-table">
                <div class="fh5co-intro fh5co-table-cell">
                    <h1 class="text-center">Contact Us</h1>
                </div>
            </div>
        </div>
    </div>
</div><!-- end: fh5co-parallax -->
 3700 Willingdon Ave,<br />
Burnaby, BC V5G<br />
<abbr title="Phone">P:</abbr>
 (604) 451-6728
